body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #252525;
}

a {
    text-decoration: none;
    color: #252525;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}

.btn {
    text-transform: uppercase;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, .29);
    cursor: pointer;
    background: #fff;
    font-size: 16px;
    width: 250px;
    position: relative;
    border-radius: 10px;
}

.btn:hover {
    border-color: rgba(0, 0, 0, .5);
    text-decoration: none;
    background: #FFD7C1;
}

.btn:focus {
    outline: 0;
    font-weight: 700;
    border-width: 2px;
}

.center {
    text-align: center;
}

.active {
    font-weight: bold;
}

.nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-decoration: none;
}

.nav li:first-child {
    padding-left: 0;
}

ul {
    padding-left: 0;
}

li {
    list-style-type: none;
    padding: 10px;
    text-decoration: none;
}

.avatar {
    height: 50px;
    border-radius: 25px;
    margin: 10px;
}

.avatar-small {
    height: 50px;
    border-radius: 25px;
    margin: 0;
}

.tweet {
    width: 100%;
    max-width: 590px;
    padding: 10px;
    display: flex;
    margin: 0 auto;
    border: 1px solid #dad7d7;
    border-radius: 3px;
    cursor: pointer;
}

.tweet-info {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

/* Hacky but less typing in the video */
.tweet-info > div > span:first-child {
    font-weight: bold;
    margin-right: 5px;
}

.tweet-info > div > span:nth-child(2) {
    color: #969696;
    font-size: 16px;
}

.tweet-info > div > div {
    color: #969696;
    font-size: 15px;
}

.tweet-info > div > p {
    font-size: 18px;
    margin: 10px 0;
}

.tweet-icons {
    display: flex;
    align-items: center;
}

.tweet-icons > span {
    color: #969696;
    margin: 0 15px 0 5px;
    font-size: 18px !important;
}

.tweet-icon {
    font-size: 27px;
    color: #697784;
}

.tweet-icon:hover {
    color: #00b5d6;
    cursor: pointer;
}

.replying-to {
    border: none;
    background: transparent;
    margin: 0;
    padding: 0;
    color: #969696;
    cursor: pointer;
}

.heart-button {
    background: transparent;
    border: none;
}

.new-tweet {
    width: 100%;
    max-width: 590px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.textarea {
    border-radius: 4px;
    border: 1px solid #dad7d7;
    padding: 10px;
    font-size: 15px;
    height: 100px;
}

.tweet-length {
    text-align: right;
    margin-top: 10px;
    font-size: 20px;
    color: #C3392A;
}


.question-tabs {
    -webkit-tap-highlight-color: transparent;
}

.question-tabs__tab-list {
    border-bottom: 1px solid #aaa;
    display: table;
    margin: 0 auto;
    padding: 0;
}

.question-tabs__tab {
    display: inline-block;
    border: 1px solid transparent;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;
    color: #91a4f1;
}

.question-tabs__tab--selected {
    background: #FFD7C1;
    border-color: #aaa;
    color: #072083;
    border-radius: 5px 5px 0 0;
}

.question-tabs__tab--disabled {
    color: GrayText;
    cursor: default;
}

.question-tabs__tab:focus {
    box-shadow: 0 0 5px hsl(208, 99%, 50%);
    border-color: hsl(208, 99%, 50%);
    outline: none;
}

.question-tabs__tab:focus:after {
    content: "";
    position: absolute;
    height: 5px;
    left: -4px;
    right: -4px;
    bottom: -5px;
    background: #fff;
}

.question-tabs__tab-panel {
    display: none;
}

.question-tabs__tab-panel--selected {
    display: block;
    background: #C3392A;
}

.question-list {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.question-item-details {
    border-width: 2px;
    border-style: solid;
    border-color: #aaa;
    border-radius: 20px;
    padding: 10px;
    background: white;
}

.question-list-item {

    background: white;
    display: flex;
}

.question-avatar {
    width: 160px;
    height: 160px;
    margin-right: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    flex-shrink: 0;
}


.question-details {
    padding-left: 30px;
    border-left: 1px solid #eee;

    flex: 1;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.question-details p {
    margin: 10px;
    padding: 15px;
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-width: 1px;
    border-style: solid;
    border-color: #aaa;
    border-radius: 10px;
}

.question-details p:hover {
    background: #FFD7C1;
    cursor: pointer;
}

.question-header {
    padding: 10;
    padding-left: 50px;
}

.question-subheader {
    margin: 0px;
    padding: 10px;
}

.option-preview {
    margin: 10px;
}

.question-item-preview {
    border-width: 2px;
    border-style: solid;
    border-color: #aaa;
    border-radius: 20px;
    padding: 10px;
    background: white;
    display: table;
    margin: 0 auto;
}

.result-details {
    padding-left: 30px;
    border-left: 1px solid #eee;

    flex: 1;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.result-option {
    margin: 10px;
    padding: 15px;
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-width: 1px;
    border-style: solid;
    border-color: #aaa;
    border-radius: 30px;
}

.result-option-selected {
    margin: 10px;
    padding: 15px;
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-width: 5px;
    border-style: solid;
    border-color: #FFD7C1;
    border-radius: 30px;
    background: #79de5b;
}

.form-style-5{
	max-width: 500px;
	margin: 10px auto;
	padding: 20px;
	font-family: Georgia, "Times New Roman", Times, serif;
    border-width: 2px;
    border-style: solid;
    border-color: #aaa;
    border-radius: 20px;
}
.form-style-5 fieldset{
	border: none;
    margin-top: 30px;
}
.form-style-5 legend {
	font-size: 1.4em;
	margin-bottom: 10px;
}
.form-style-5 label {
	display: block;
	margin-bottom: 8px;
}

.form-style-5 textarea
{
	font-family: Georgia, "Times New Roman", Times, serif;
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 20px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-color: #e8eeef;
	color:#8a97a0;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
}
.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="date"]:focus,
.form-style-5 input[type="datetime"]:focus,
.form-style-5 input[type="email"]:focus,
.form-style-5 input[type="number"]:focus,
.form-style-5 input[type="search"]:focus,
.form-style-5 input[type="time"]:focus,
.form-style-5 input[type="url"]:focus,
.form-style-5 textarea:hover,
.form-style-5 select:focus{
	background: #FFD7C1;
}
.form-style-5 select{
	-webkit-appearance: menulist-button;
	height:35px;
}
.form-style-5 .number {
	background: #1abc9c;
	color: #fff;
	height: 30px;
	width: 30px;
	display: inline-block;
	font-size: 0.8em;
	margin-right: 4px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	border-radius: 15px 15px 15px 0px;
}

.form-style-5 input[type="submit"],
.form-style-5 input[type="button"]
{
	position: relative;
	display: block;
	padding: 19px 39px 18px 39px;
	color: #0e0606;
	margin: 0 auto;
	font-size: 24px;
	text-align: center;
	font-style: normal;
	width: 100%;
	border: 1px solid #555f5e;
	border-width: 1px 1px 3px;
	margin-bottom: 10px;
    margin-top: 30px;
}
.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover
{
	background: #FFD7C1;
}

.form-style-5 input[type="submit"]:focus {
    background: #FFD7C1;
}
